
/* external Styling */
div {
    margin: 20px 30px;
    border: 1px solid red;
    padding: 15px;
    color: blue;
    text-align: center;
}

#id-1 {
    margin: 20px 30px;
    border: 1px solid blue;
    padding: 15px;
    font-size: 30px;
    color: red;
    text-align: center;
    background-color: rgb(255, 196, 0);

}