*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 1s ease-in-out ;
}

body{
    background: linear-gradient(20deg, #330E44, #175D69);
    height: 100vh;
    background-repeat: no-repeat;
    transition: all 1s ease-in-out ;
    
}

.header{
    /* background-color: black; */
    display: flex;
    padding-left: 10px;
    align-items: center;
    color: white;
    justify-content: space-between;
}
.nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    text-wrap: nowrap;
}
.nav a {
    color: white;
    text-decoration: none;
}
.nav a:hover {
    color: #1abc9c;
    border-radius: 5px;
}

.button-container {
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
}
.btn {
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: #34495e;
    font-size: 16px;
    cursor: pointer;
    text-wrap: nowrap;
}
.btn-signup {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}
.btn:hover, .btn-signup:hover {
    background-color: #1abc9c;
    border-color: #1abc9c;
}

.section{
    padding: 60px 20px;
    color: white;
    display: flex;
    align-items: center;
    max-width: 760px;
    margin: 0 auto;
    gap: 80px;
    justify-content: space-between;
}
.img{
    max-width: 320px;
    width: 40%;
}
.content{
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
}
h2{
    font-size: 26px;
    font-weight: bold;
}
p{
    color: rgb(185, 185, 185);
    padding: 12px 0;
    margin-top: 20px;
}
.section img{
    height: auto;
    width: 50%;
    max-width: 500px;
    margin-bottom: 20px;
}
.btn-c{
    display: flex;
    gap: 10px;
}
.btn-1{
    color: white;
    background-color: rgb(43, 177, 222);
}

.btn-2{
    background: transparent;
    color: white;
    border: 1px solid white;
}

@media only screen and (max-width:800px) {

    nav a{
        display: none;
    }
    
    .header{
        justify-content:center;
        align-items: center;
        gap: none;
    } 
.header h3{
    padding: 20px 5px;
    font-size: x-large;
}

.content{
    font-size: small;
}

.content h2{
    font-size: xx-large;
}


}

@media only screen and (max-width:650px) {

    .img{
        display: none;
    }
    .section{
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 10px 20px;
        
    }
    .btn-c{

        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 20px;
    }
.content h2{
    margin: 20px;
}

}

@media only screen and (max-width:500px) {

    .header{
        flex-direction: column;
    }
nav h3{
    justify-content: center;
    align-items: center;
    text-align: center;
}
    .button-container{

        padding: 1px;
        align-items: center;
     }

     .btn{
        padding: 5px 10px;
     }

     .btn-signup{
        font-size: small;
    }


    
}
