body {
    box-sizing: border-box;
}

#o1,
#o2 {
    background-color: aqua;
    height: 50px;
    width: 200px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px 50px;
}


.image {
    /* background-image: url('../class11/Images/project.png'); */
    background-image: url('https://img.freepik.com/free-vector/dark-gradient-background-with-copy-space_53876-99548.jpg');
    
    height: 400px;
    width: 88%;
    text-align: center;
    color: white;
    border: 3px solid red;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    padding: 20px 20px;

    /* border-width: 2px;
    border-style: solid;
    border-color: blue; */
    /* border: border-width border-style border-color;*/

    border: 5px dashed burlywood;
    border-radius: 20px;
}

img{
    width: 90%;
    border-radius: 8px;
}